/* 头像框下面的按钮，隐藏掉 */
#aside_content .card-info #card-info-btn {
  display: none;
}
/*-----------------------------------------------------*/

/* 隐藏首页博客名字 */
.pull-left {
  display: none;
}
/* 右上角的博客名 */
#page-header #site_title {
  display: none;
}
/* 后续如果不隐藏的时候，可以使用下面俩参数改一下颜色 */
/* 首页中间打字效果上方 */
#page-header #site_title {
  color: #80bdab;
}
/* 顶部导航栏 */
#nav a {
  color: #f9f2f4;
}
/*-----------------------------------------------------*/

/* 版权链接去掉下划线 */
.layout_post .post-copyright .post-copyright-info a {
  text-decoration: none;
}
/*-----------------------------------------------------*/

/* 博主昵称颜色 */
.author-info__name {
  color: #ff7242;
}
/*-----------------------------------------------------*/

/* 设置背景为渐变色 */
#web_bg {
  /* webkit内核 5.1 - 6.0 */
  background: -webkit-linear-gradient(left, #FDEDF1, #DEF7F0);
  /* Opera 11.1 - 12.0 */
  background: -o-linear-gradient(right, #FDEDF1, #DEF7F0);
  /* Firefox 3.6 - 15 */
  background: -moz-linear-gradient(right, #FDEDF1, #DEF7F0);
  /* 标准的语法 */
  background: linear-gradient(to right, #FDEDF1, #DEF7F0);
}
/* 底部背景渐变色 */
#footer {
  /* webkit内核 5.1 - 6.0 */
  background: -webkit-linear-gradient(left, #FDEDF1, #DEF7F0);
  /* Opera 11.1 - 12.0 */
  background: -o-linear-gradient(right, #FDEDF1, #DEF7F0);
  /* Firefox 3.6 - 15 */
  background: -moz-linear-gradient(right, #FDEDF1, #DEF7F0);
  /* 标准的语法 */
  background: linear-gradient(to right, #FDEDF1, #DEF7F0);
}
/* 底部说明的颜色 */
#footer-wrap {
  position: relative;
  padding: 2rem 1rem;
  color: #858585;
  text-align: center;
}
/*-----------------------------------------------------*/

/* 所有背景（包括首页卡片、文章页、页面页等）*/
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  background: rgba(255,255,255,.2);
}
/*-----------------------------------------------------*/

/* 滚动条*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #72CFF7;
  background-image: -webkit-linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.4) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.4) 50%,
          rgba(255, 255, 255, 0.4) 75%,
          transparent 75%,
          transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #72CFF7;
}
/*-----------------------------------------------------*/

/*a标签颜色*/
a {
  color: #00c4b6;
}

/*-----------------------------------------------------*/

/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计
@media screen and (max-width: 800px) {
  #aside_content div:not(:last-child) {
    display: none;
    font-size: 13px;
  }
}
/*-----------------------------------------------------*/

/* 隐藏掉右下角 回到顶部 的背景色 */
#go-up {
  display: none;
  background-color: transparent !important;
}